#root:has(#translate) {
    min-height: 100vh;
}

main .overflow-y-scroll::-webkit-scrollbar {
    width: 8px;
}

main .overflow-y-scroll::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 4px;
}